{
  "openapi": "3.0.3",
  "info": {
    "title": "API",
    "description": "Trade derivatives on the **[Lightning Network](https://lightning.network/)**.\nYou can find our website **[here](https://lnmarkets.com/)**.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Mainnet API",
      "url": "https://api.lnmarkets.com"
    },
    {
      "description": "Testnet API",
      "url": "https://api.testnet.lnmarkets.com"
    }
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Here you can find the different way to auth yourself on LN Markets, mostly use for browser.\n"
    },
    {
      "name": "Positions",
      "description": "Interactions with the market and retrive your positions"
    },
    {
      "name": "User",
      "description": "You can retrieve your user data and modify it\n"
    },
    {
      "name": "State",
      "description": "LN Markets state with data about our node and api availability\n"
    },
    {
      "name": "LNURL",
      "description": "Interaction with the lightning network using the [LNURL procotocol](https://github.com/btcontract/lnurl-rfc/)\nLNURL enable simple auth process and easier withdraw\n"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    },
    {
      "jwtAuth": []
    }
  ],
  "paths": {
    "/login/credentials": {
      "get": {
        "tags": [
          "Login"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Request new credentials",
        "description": "Generates an invoice for future use in the account creation process.\n",
        "operationId": "Login_getCredentials",
        "responses": {
          "200": {
            "description": "Invoice successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "description": "Invoice string",
                      "type": "string"
                    },
                    "expiry": {
                      "description": "Invoice expiry timer",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "example": {
                  "invoice": "lntb1u1p0jfxqcpp5ju9y2cur3v7nderx6u6ah7xj82lczem0pmmm4z5n2sn3de4qjqwqdz42pshjgr5dp5hxgrfdemx76trv5s8gmeqvdex2ct5v5s8jmm4wgsxzcmrda6kuapqdahzqnzwypxkzuntv468xcqzpgxqzz6sp53jz0ewjjwvnzkpl9pz8ar506z7dq3e4yw05pj9lulknhrwscncpq9qy9qsqzjvtdmnzptrq8avvynfdkswcts4ll8ffxxu02pgcg2ptyvz4xncsxrx3u32paw4806et6wan6tln60266zpd77a7usyv59jc83mnukqphdr5yx",
                  "expiry": 90
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Login"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Register new credentials",
        "description": "Pay the invoice generated through a `/login/credentials` **GET** request and then\nuse `paymentHash` to certify validity and finally create the account.\n",
        "operationId": "Login_registerCredentials",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "paymentHash",
                  "login",
                  "password"
                ],
                "properties": {
                  "paymentHash": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "login": {
                    "type": "string",
                    "pattern": "^\\S{6,32}$",
                    "minLength": 6,
                    "maxLength": 32
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "pattern": "^(?=\\S)(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).\\S{7,63}",
                    "minLength": 8,
                    "maxLength": 64
                  }
                },
                "example": {
                  "login": "lnmarkets",
                  "password": "mYUNh4x0r48L3P422w0rd",
                  "paymentHash": "b45dd2e30309aa708a73f0cfa0e38db5bbbbd16055087a692e0711365e7e08f5"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfuly created and logged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "username",
                    "balance",
                    "account_type"
                  ],
                  "properties": {
                    "username": {
                      "description": "User choosen username (May differe from login)",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "User account type, here credentials",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "login": "lnmarkets",
                  "account_type": "credentials",
                  "balance": 1337
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      },
      "post": {
        "tags": [
          "Login"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Login via credentials",
        "description": "Use existing credentials to log into an account.\n",
        "operationId": "Login_loginCredentials",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "login",
                  "password"
                ],
                "properties": {
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                },
                "example": {
                  "login": "lnmarkets",
                  "password": "mYUNh4x0r48L3P422w0rd"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfuly logged into the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "username",
                    "balance",
                    "account_type"
                  ],
                  "properties": {
                    "username": {
                      "description": "User choosen username (May differe from login)",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "User account type, here credentials",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "login": "lnmarkets",
                  "account_type": "credentials",
                  "balance": 1337
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      }
    },
    "/lnurl/a/c": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Auth 1",
        "description": "LNURL string used to create an account or connect to a existing account.\nThe user wallet will sign a message using the provided k1 inside the LNURL.\nYou need to have a session cookie on the browser you are using to log in.\n",
        "operationId": "LNURL_authCreate",
        "responses": {
          "200": {
            "description": "Bech32 encoded string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lnurl": {
                      "description": "LNURL used by the wallet",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "lnurl": "lnurl1dp68gup69uhkcmmrv9kxsmmnwsarxvpsxqhkcmn4wfkz7cflw3skw0tvdankjm3xdvcn6venvgcrjenpx3nrwdtpxsur2vfsvdjk2dfkxe3kgceexymkgcmrxpjkgc3jvgmrqdnzvvurjwtr89jk2dp4vccrxvmrvvmxzdehxuejv6rdv93n6wpkv56rxcf4xqcxgwfsvsuxget9vymnqcfnv43rgwfjv5ex2cn9vyckgwtyvejrgc3excekyetpx43rvd3nxeskxvm9xqcxvwtpv5mq9uwr0k"
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/a": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Auth 2",
        "description": "Verify the public key with the signature and the k1 to create a account or connect into a existing account.\nThe connected state will be push over websocketsto the client.\n",
        "operationId": "LNURL_authenticate",
        "parameters": [
          {
            "name": "k1",
            "in": "query",
            "description": "Hex encoded 32 bytes of challenge which is going to be signed by user private key.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{64}$",
              "example": "kyNVmR6HDtAW2aplYk6XmmpDrIhvzzq6"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "LNURL type.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "login"
              ],
              "example": "login"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "description": "Signature generated by the lightning wallet.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "qep5sAqwleQS27UdKLGNsCBTWB4soS45us9vJAbk1hMEdCAXoeB6IESi3Nz7SXJM"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Public key of the lightning wallet.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Yc4h1Z5BZVmgmVQfIbdPWRVj9kHAo3uf"
            }
          },
          {
            "name": "hmac",
            "in": "query",
            "description": "HMAC signature used to secure LNURL.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "kuSHSXXDiP4qofiL2LGelesLLlRXUCJd"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Timestamp.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1599492534790"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucessfuly logged in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Does the request suceed ?",
                      "type": "string"
                    },
                    "event": {
                      "description": "State of the user",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "OK",
                  "event": "LOGGEDIN"
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      }
    },
    "/lnurl/w/r": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw 2",
        "description": "Ask the Lightning wallet to create an invoice with amount and description.",
        "operationId": "LNURL_WithdrawRequest",
        "parameters": [
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "HMAC payload signature.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": true,
            "description": "Nonce.",
            "schema": {
              "type": "string",
              "minLength": 64,
              "maxLength": 64
            }
          },
          {
            "name": "expiry",
            "in": "query",
            "description": "Timestamp when the LNURL is expired.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 1599841538304
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LNURL withdraw invoice parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "callback": {
                      "description": "Callback URL used by the wallet",
                      "type": "string"
                    },
                    "defaultDescription": {
                      "description": "Invoice default description",
                      "type": "string"
                    },
                    "tag": {
                      "description": "Kind of LNURL",
                      "type": "string"
                    },
                    "maxWithdrawable": {
                      "description": "Max withdrawable amount",
                      "type": "integer",
                      "format": "int32"
                    },
                    "minWithdrawable": {
                      "description": "Min withdrawable amount",
                      "type": "integer",
                      "format": "int32"
                    },
                    "k1": {
                      "description": "Random hex string to identify the user Lightning Wallet.",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "k1": "31c92c1bd79d2ae5f96a153ceda105cb67888c61bfb76baa1d2505a6bf8a06ca",
                  "tag": "withdrawRequest",
                  "maxWithdrawable": 1000,
                  "minWithdrawable": 1000,
                  "defaultDescription": "LN Markets withdraw",
                  "callback": "https://api.lnmarkets.com/lnurl/w"
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/w": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw 3",
        "description": "Use LNURL to withdraw from the user balance.",
        "operationId": "LNURL_Withdraw",
        "parameters": [
          {
            "name": "k1",
            "in": "query",
            "required": true,
            "description": "Random hex string to identify the user Lightning Wallet.",
            "example": "kyNVmR6HDtAW2aplYk6XmmpDrIhvzzq6",
            "schema": {
              "type": "string",
              "minLength": 64,
              "maxLength": 64
            }
          },
          {
            "name": "pr",
            "in": "query",
            "required": true,
            "description": "Bolt 11 invoice.",
            "example": "<invoice>",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucessfuly withdrawn funds from channel."
          }
        }
      }
    },
    "/login/joule": {
      "post": {
        "tags": [
          "Login"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Login via Joule",
        "description": "Use the browser extension [Joule](https://lightningjoule.com/) to authenticate user.\nA random message will be signed with the user's wallet private key,\nthis message will be send with the signature to allow LND to authenticate the user\n",
        "operationId": "Login_loginJoule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "message",
                  "signature",
                  "alias"
                ],
                "properties": {
                  "message": {
                    "description": "Message signed by the wallet private key",
                    "type": "string"
                  },
                  "signature": {
                    "description": "Signature created by the wallet",
                    "type": "string"
                  },
                  "alias": {
                    "description": "Node alias if avalaible",
                    "type": "string"
                  }
                },
                "example": {
                  "signature": "rd1nn7qbnibf58mzaknokqu6eciiqr64gahrzzxy3h8ybdygbun7s86zrms1dedqnh7t4gxz3esqmaqi9pkf85f48rexai7qztbdznfp",
                  "alias": "LN-BIG 1337",
                  "message": "Sign this super secret message"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucessfuly logged user.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "username",
                    "balance",
                    "account_type",
                    "linkingpublickey"
                  ],
                  "properties": {
                    "username": {
                      "description": "Username default to node alias",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User balance",
                      "type": "string"
                    },
                    "linkingpublickey": {
                      "description": "Pubkey of the node",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "Account type",
                      "type": "string"
                    }
                  },
                  "example": {
                    "account_type": "joule",
                    "linkingpublickey": "02b21cc4667e2d5e14920013d187d2af8c3ccfd32a310f63c7767cf8564f126357",
                    "balance": 1337,
                    "username": "LN-BIG 1337"
                  }
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      }
    },
    "/positions/cancel": {
      "post": {
        "tags": [
          "Positions"
        ],
        "security": [
          {
            "jwtAuth": [
              "positions"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Cancel",
        "description": "Cancel the position linked to the given `pid`.**Only works on positions that are not currently filled**.\n",
        "operationId": "Position_cancelPosition",
        "requestBody": {
          "description": "Payload containing the position id that will be cancelled.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "pid"
                ],
                "properties": {
                  "pid": {
                    "description": "Position ID",
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                  }
                },
                "example": {
                  "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position is canceled\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canceled": {
                      "description": "Canncel success",
                      "type": "boolean"
                    },
                    "closed_ts": {
                      "description": "When the position was canceled",
                      "type": "string",
                      "format": "date-time"
                    },
                    "pid": {
                      "description": "Position ID",
                      "type": "string",
                      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                    }
                  },
                  "example": {
                    "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f",
                    "canceled": true,
                    "closed_ts": "020-11-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/positions": {
      "post": {
        "tags": [
          "Positions"
        ],
        "security": [
          {
            "jwtAuth": [
              "positions"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Create",
        "description": "Send the order form parameters to add a new position in database.\n**If `type=\"l\"`, the property `price` must be included in the request to know when the position should be filled.**\n**You can choose to use the margin or the quantity as a parameter, the other will be calculated with the one you choosed**\n",
        "operationId": "Position_createPosition",
        "requestBody": {
          "description": "Payload with all the information needed to setup a new position.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "side",
                  "type",
                  "leverage"
                ],
                "properties": {
                  "type": {
                    "description": "Type of the order (Market or Limit)",
                    "type": "string",
                    "enum": [
                      "l",
                      "m"
                    ]
                  },
                  "side": {
                    "description": "Side of the order (Buy or Sell)",
                    "type": "string",
                    "enum": [
                      "b",
                      "s"
                    ]
                  },
                  "margin": {
                    "description": "Margin or quantity should be filled",
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1
                  },
                  "leverage": {
                    "description": "Leverage of the order",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.01,
                    "minimum": 1,
                    "maximum": 50
                  },
                  "quantity": {
                    "description": "Quantity or margin should be filled",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1
                  },
                  "takeprofit": {
                    "description": "Takeprofit level",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1
                  },
                  "stoploss": {
                    "description": "Stoploss level",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1
                  },
                  "price": {
                    "description": "Required when using a limit order",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1
                  }
                },
                "example": {
                  "type": "l",
                  "side": "b",
                  "price": 10000,
                  "stoploss": 9000,
                  "takeprofit": 11000,
                  "quantity": 100,
                  "leverage": 50
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position sucessfully created.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "UUID of the position",
                      "type": "string"
                    },
                    "id": {
                      "description": "Position ID to be deprecated",
                      "type": "string"
                    },
                    "type": {
                      "description": "Position type [l,m]",
                      "type": "string"
                    },
                    "side": {
                      "description": "Side of the position [s,b]",
                      "type": "string"
                    },
                    "price": {
                      "description": "Entry price of the position",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantity of the position",
                      "type": "string"
                    },
                    "margin": {
                      "description": "Margin used for the position creation",
                      "type": "string"
                    },
                    "leverage": {
                      "description": "Leverage of the position",
                      "type": "string"
                    },
                    "liquidation": {
                      "description": "Liquidation level when the position will be closed",
                      "type": "string"
                    },
                    "market_filled_ts": {
                      "description": "When the order was filled",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "market_wi": {
                      "description": "Market working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "string"
                    },
                    "margin_wi": {
                      "description": "Margin working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "stoploss": {
                      "description": "stoploss level",
                      "type": "string",
                      "nullable": true
                    },
                    "stoploss_wi": {
                      "description": "Stoploss working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit": {
                      "description": "Takeprofit level",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit_wi": {
                      "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "creation_ts": {
                      "description": "When the position was created",
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "example": {
                    "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                    "id": 666,
                    "type": "m",
                    "takeprofit_wi": "running",
                    "takeprofit": 13337,
                    "stoploss_wi": "running",
                    "stoploss": 1337,
                    "side": "s",
                    "quantity": 42,
                    "price": 8888,
                    "pl": -13640,
                    "market_wi": "filled",
                    "market_filled_ts": "020-09-15T10:50:40.332Z",
                    "margin_wi": "running",
                    "margin": 424242,
                    "liquidation": 1000,
                    "leverage": 50,
                    "creation_ts": "020-09-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Positions"
        ],
        "security": [
          {
            "jwtAuth": [
              "positions"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Update",
        "description": "Allows user to modify `stoploss` or `takeprofit` parameters of an existing position.\n",
        "operationId": "Position_updatePosition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pid",
                  "type",
                  "value"
                ],
                "properties": {
                  "pid": {
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "takeprofit",
                      "stoploss"
                    ]
                  },
                  "value": {
                    "type": "number",
                    "multipleOf": 0.5,
                    "minimum": 0
                  }
                },
                "example": {
                  "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f",
                  "type": "takeprofit",
                  "value": 13290.5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Says whether or not the position was updated.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "Position id",
                      "type": "string",
                      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                    }
                  },
                  "example": {
                    "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Positions"
        ],
        "security": [
          {
            "jwtAuth": [
              "positions"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Close",
        "description": "Close the user position, the PL will be calculated against the current bid or offer\ndepending on the side of the position\n",
        "operationId": "Position_closePosition",
        "parameters": [
          {
            "name": "pid",
            "in": "query",
            "description": "ID of the position to close.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
              "example": "a2ca6172-1078-463d-ae3f-8733f36a9b0e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position is closed\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closed": {
                      "description": "Is position closed",
                      "type": "boolean"
                    },
                    "closed_ts": {
                      "description": "Position closed ts",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "exit_price": {
                      "description": "At which price the position was closed",
                      "type": "string"
                    },
                    "pid": {
                      "description": "Position id",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "integer"
                    }
                  },
                  "example": {
                    "pid": "a2ca6172-1078-463d-ae3f-8733f36a9b0e",
                    "exit_price": 2000,
                    "closed_ts": "020-10-15T10:50:40.332Z",
                    "closed": true,
                    "pl": 1337
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Positions"
        ],
        "security": [
          {
            "jwtAuth": [
              "positions"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "History",
        "description": "Retrieves either opened, closed or all positions.\n\n**If no parameters is sent, the opened positions are fetched by default.**\n",
        "operationId": "Position_getPositionList",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "List opened positions.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "open",
                "closed"
              ],
              "example": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions history sucessfully fetched.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pid": {
                        "description": "UUID of the position",
                        "type": "string"
                      },
                      "id": {
                        "description": "Position ID to be deprecated",
                        "type": "string"
                      },
                      "type": {
                        "description": "Position type [l,m]",
                        "type": "string"
                      },
                      "side": {
                        "description": "Side of the position [s,b]",
                        "type": "string"
                      },
                      "pl": {
                        "description": "PL of the position",
                        "type": "string"
                      },
                      "price": {
                        "description": "Entry price of the position",
                        "type": "string"
                      },
                      "quantity": {
                        "description": "Quantity of the position",
                        "type": "string"
                      },
                      "leverage": {
                        "description": "Leverage of the position",
                        "type": "string"
                      },
                      "liquidation": {
                        "description": "Liquidation level when the position will be closed",
                        "type": "string"
                      },
                      "margin": {
                        "description": "Margin used for the position creation",
                        "type": "string"
                      },
                      "margin_wi": {
                        "description": "Margin working indicator [filled, running, closed, canceled]",
                        "type": "string"
                      },
                      "market_filled_ts": {
                        "description": "When the order was filled",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "market_wi": {
                        "description": "Market working indicator [filled, running, closed, canceled]",
                        "type": "string"
                      },
                      "canceled": {
                        "description": "Is the position canceled",
                        "type": "boolean"
                      },
                      "closed": {
                        "description": "Is the position closed",
                        "type": "boolean"
                      },
                      "closed_ts": {
                        "description": "When the position was closed",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "creation_ts": {
                        "description": "When the position was created",
                        "type": "string",
                        "format": "date-time"
                      },
                      "exit_price": {
                        "description": "At which price the position was closed",
                        "type": "string",
                        "nullable": true
                      },
                      "stoploss": {
                        "description": "stoploss level",
                        "type": "string",
                        "nullable": true
                      },
                      "stoploss_wi": {
                        "description": "Stoploss working indicator [filled, running, closed, canceled]",
                        "type": "string",
                        "nullable": true
                      },
                      "takeprofit": {
                        "description": "Takeprofit level",
                        "type": "string",
                        "nullable": true
                      },
                      "takeprofit_wi": {
                        "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  "example": {
                    "positions": [
                      {
                        "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                        "id": 666,
                        "type": "m",
                        "takeprofit_wi": "canceled",
                        "takeprofit": 13337,
                        "stoploss_wi": "canceled",
                        "stoploss": 1337,
                        "sign": -1,
                        "side": "s",
                        "quantity": 42,
                        "price": 8888,
                        "pl": -13640,
                        "market_wi": "filled",
                        "market_filled_ts": "020-09-15T10:50:40.332Z",
                        "margin_wi": "closed",
                        "margin": 424242,
                        "liquidation": 1000,
                        "leverage": 50,
                        "exit_price": 2000,
                        "creation_ts": "020-09-15T10:50:40.332Z",
                        "closed_ts": "020-10-15T10:50:40.332Z",
                        "closed": false,
                        "canceled": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/state": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "API informations",
        "description": "Shows informations about api.\n",
        "operationId": "State_apiState",
        "responses": {
          "200": {
            "description": "The API is online.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "description": "Timestamp reported by the API",
                      "type": "integer",
                      "format": "int64"
                    },
                    "version": {
                      "type": "object",
                      "properties": {
                        "api": {
                          "description": "API version hash",
                          "type": "string"
                        },
                        "spec": {
                          "description": "Open API version hash",
                          "type": "string"
                        }
                      }
                    },
                    "withdraw": {
                      "description": "Are withdraw enabled ?",
                      "type": "boolean"
                    },
                    "newposition": {
                      "description": "Are new position enabled ?",
                      "type": "boolean"
                    },
                    "accountCreation": {
                      "description": "Are account creation enabled ?",
                      "type": "boolean"
                    }
                  },
                  "example": {
                    "ts": 1600244845097,
                    "version": {
                      "api": "74958cef7d4416dfa7f2c13fd23cd4aa7b469047",
                      "soec": "31a4964e0ab4c77e7235ce5a0b458ba32dd8ace8"
                    },
                    "withdraw": true,
                    "newPosition": true,
                    "accountCreation": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/state/node": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Node informations",
        "description": "Shows informations about the lightning node.\n",
        "operationId": "State_nodeState",
        "responses": {
          "200": {
            "description": "The Node is online.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "description": "LND version",
                      "type": "string"
                    },
                    "alias": {
                      "description": "Node Alias",
                      "type": "string"
                    },
                    "pubkey": {
                      "description": "Node pubkey",
                      "type": "string"
                    },
                    "uri": {
                      "description": "Node URI",
                      "type": "string"
                    },
                    "onionUri": {
                      "description": "Node URI on tor",
                      "type": "string"
                    },
                    "peers": {
                      "description": "Number of peers",
                      "type": "integer",
                      "format": "int64"
                    },
                    "channels": {
                      "description": "Number of channels",
                      "type": "integer",
                      "format": "int64"
                    },
                    "localBalance": {
                      "description": "Node local balance",
                      "type": "integer",
                      "format": "int64"
                    },
                    "remoteBalance": {
                      "description": "Node remote balance",
                      "type": "integer",
                      "format": "int64"
                    },
                    "blockHeigth": {
                      "description": "Node block heigth",
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "example": {
                    "version": "0.11.0-beta commit=v0.11.0-beta'",
                    "alias": "LN Markets",
                    "pubkey": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431",
                    "blockHeigth": 1835008,
                    "remoteBalance": 266903254,
                    "example": "localBalance",
                    "channels": 1337,
                    "peers": 42,
                    "onionUri": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431@3pv4ci27cnahbztwlqtbez36rblecanoyxthrtjvxpk3en2y7dxfr3id.onion:9735",
                    "uri": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431@34.192.102.161:9735"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "user"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Informations",
        "description": "Fetches UID, username, account type and current balance.\n",
        "operationId": "User_getUser",
        "responses": {
          "200": {
            "description": "User found and informations are fetched.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "description": "User's UUID",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance (avalaible)",
                      "type": "string"
                    },
                    "username": {
                      "description": "Username",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "One of ['lnurl', 'credentials', 'joule']",
                      "type": "string"
                    },
                    "linkingpublickey": {
                      "description": "Public key used for lnurl or joule account",
                      "type": "string"
                    },
                    "last_ip": {
                      "description": "Last login ip",
                      "type": "string"
                    }
                  },
                  "example": {
                    "uid": "d068f829-26e6-4743-b10d-ebb5a83b3624",
                    "balance": 361086,
                    "account_type": "Joule",
                    "username": "Testnet-node",
                    "linkingpublickey": "035555cbdd2b5642bbd196b31df477fad20125ae99119fd5ffb1d42c7f4811dd3a",
                    "last_ip": "127.0.0.1"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "user"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Update password",
        "description": "Update the current password to the requested one.\n",
        "operationId": "User_updateUser",
        "requestBody": {
          "description": "Payload containing user credentials.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "previousPassword",
                  "newPassword"
                ],
                "properties": {
                  "previousPassword": {
                    "description": "Old password",
                    "type": "string",
                    "format": "password",
                    "pattern": "^(?=\\S)(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).\\S{7,63}",
                    "minLength": 8,
                    "maxLength": 64
                  },
                  "newPassword": {
                    "description": "New password wanted by the user",
                    "type": "string",
                    "format": "password",
                    "pattern": "^(?=\\S)(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).\\S{7,63}",
                    "minLength": 8,
                    "maxLength": 64
                  }
                },
                "example": {
                  "previousPassword": "previousUnguessablePassword",
                  "newPassword": "PleaseDontStealMySats"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password successfuly updated.\n"
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/history": {
      "get": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "user"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Transactions",
        "description": "Retrieves all withdraw or deposit you did with LN Markets\n",
        "operationId": "User_getHistory",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Which kind of transactions will be fetched.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+$",
              "enum": [
                "withdraw",
                "deposit"
              ],
              "example": "deposit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History sucessfully pulled.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "description": "Deposit ID in case of deposit",
                            "type": "string"
                          },
                          "wid": {
                            "description": "Withdraw ID in case of withdraw",
                            "type": "string"
                          },
                          "amount": {
                            "description": "Amount in sat",
                            "type": "integer"
                          },
                          "creation_ts": {
                            "description": "When the transaction was initiated",
                            "type": "string",
                            "format": "date-time"
                          },
                          "details": {
                            "type": "string",
                            "nullable": true
                          },
                          "fail": {
                            "description": "Is the transaction failed",
                            "type": "boolean",
                            "example": false
                          },
                          "fail_reason": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "fail_ts": {
                            "description": "When did the transaction failed ?",
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "example": null
                          },
                          "payment_hash": {
                            "type": "string",
                            "example": "33f45c13c7ddcae46c6732414552893ca599f9399c62ffc2cfae209e8b17c5c3"
                          },
                          "success": {
                            "type": "boolean",
                            "example": false
                          },
                          "sucess_ts": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "example": null
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "transaction": [
                      {
                        "did": "269157f3-d4a1-4493-afcb-5e8fdaa49288",
                        "amount": 99400,
                        "creation_ts": "020-09-15T10:50:40.332Z",
                        "details": null,
                        "fail": false,
                        "success": true,
                        "fail_reason": null,
                        "fail_ts": null,
                        "payment_hash": "33f45c13c7ddcae46c6732414552893ca599f9399c62ffc2cfae209e8b17c5c3",
                        "sucess_ts": "020-09-15T10:50:40.332Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/jwt": {
      "get": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "List API Tokens",
        "description": "Retrieves the list of active JSON Web Token user currently holds.\n",
        "operationId": "User_GetJWTList",
        "responses": {
          "200": {
            "description": "Token list retrieved.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "aud": {
                        "description": "Scopes of the token",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "position",
                            "withdraw",
                            "deposit",
                            "user"
                          ]
                        },
                        "uniqueItems": true,
                        "maxItems": 4
                      },
                      "exp": {
                        "description": "Expiration of the token",
                        "type": "string",
                        "format": "date-time"
                      },
                      "iat": {
                        "description": "When the token was issued",
                        "type": "string",
                        "format": "date-time"
                      },
                      "jti": {
                        "description": "Unique id of the token",
                        "type": "string"
                      },
                      "revoked": {
                        "description": "Is it revoked or not",
                        "type": "boolean"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "aud": [
                      "withdraw",
                      "deposit"
                    ],
                    "exp": "020-09-15T10:50:40.332Z",
                    "iat": "020-09-15T10:50:40.332Z",
                    "jti": "ckea35me20019r8u36374585f",
                    "revoked": false
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Revoke API Token",
        "description": "Using the `jti` parameter, identifies and revoke usage of a given JWT.\n",
        "operationId": "User_RevokeJWT",
        "parameters": [
          {
            "name": "jti",
            "in": "query",
            "description": "Token unique identifier.",
            "schema": {
              "type": "string",
              "example": "ckea35me20019r8u36374585f"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token successfuly revoked.\n"
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Generate API Token",
        "description": "Using the given scopes, allow the token bearer to get access to different parts of the public API.\n",
        "operationId": "User_CreateJWT",
        "requestBody": {
          "description": "Scopes of authorization that the token will grant to the bearer.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scopes",
                  "expiry"
                ],
                "properties": {
                  "scopes": {
                    "description": "Scopes of the token",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "deposit",
                        "withdraw",
                        "positions",
                        "user"
                      ]
                    },
                    "uniqueItems": true,
                    "maxItems": 4
                  },
                  "expiry": {
                    "description": "Expiration of the token",
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                },
                "example": {
                  "expiry": 86400,
                  "scopes": [
                    "deposit",
                    "withdraw"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token successfuly created, its Base64URL encoded signature is returned for future use.\n",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "token": {
                      "description": "JWT",
                      "type": "string"
                    }
                  },
                  "example": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjMwMDAiLCJpYXQiOjE1OTgwNTg2NDQsInNjb3BlcyI6WyJ3aXRoZHJhdyIsImRlcG9zaXQiXX0.xJ3f5eMeRiN0eSzo3IDviny9B9v_-bLg4t_EWmXFBxc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/deposit": {
      "post": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "deposit"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Deposit",
        "description": "Add fund to your LN Markets balance\n",
        "operationId": "User_deposit",
        "requestBody": {
          "description": "Payload that contains all informations to initialize a new deposit.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount of sat to deposit on the account",
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 1000000
                  },
                  "unit": {
                    "description": "Should be sat by default",
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]+$",
                    "default": "sat"
                  }
                },
                "example": {
                  "amount": 1000,
                  "unit": "sat"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New deposit entry in database waiting for payment. Using `paymentRequest` afterwards, user will confirm the deposit and funds will be added to his account.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentRequest": {
                      "description": "Invoice you should pay to add balance to your account",
                      "type": "string"
                    },
                    "expiry": {
                      "description": "When the invoice will expiry",
                      "type": "integer"
                    }
                  },
                  "example": {
                    "invoice": "lntb100u1p0jrfz0pp5q0ntrkf052dvep8w6vf0z77rek3fz8xm6c2yau4zhy7f4mzauqgsdzcf3hy6ctjddjhgueqg3jhqmmnd96zqgmxxquryvesvv6z6dehv43z6drpvycj6wfevs6j6dmyxcunxefcxccxxvn9cqzpgxqzpdsp5z40mxcrfqtsxf55u9ju3lvqdw36htsjh4xl2ujrzdff3953fg2yq9qy9qsqv7gfvp0tryme3e8r5xfrpg39j645302fkggps4h5j0aj708lzdgh2dq3pdz6lqazgvkt3wm7qq20vcff46vu5549m3v2d6h0uw3sjacqrkjqcv",
                    "expiry": 45
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/withdraw": {
      "post": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "withdraw"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Withdraw via invoice",
        "description": "Move funds from the **[Lightning channel](https://medium.com/suredbits/lightning-101-what-are-lightning-channels-cfb80f440298)** with LN Markets to user wallet by using an invoice directly.\n",
        "operationId": "User_withdraw",
        "requestBody": {
          "description": "Payload that countains all informations to initiate a new withdraw.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "invoice"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount you want to withdraw",
                    "type": "integer",
                    "minimum": 1000,
                    "example": 10000
                  },
                  "unit": {
                    "description": "Unit (Only sat for now)",
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]+$"
                  },
                  "invoice": {
                    "description": "Bolt 11 invoice with the same amount as the request withdraw amount",
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]+$"
                  }
                },
                "example": {
                  "amount": 1000,
                  "unit": "sat",
                  "invoice": "lntb100u1p0jr0ykpp5ldx3un8ym6z0uwjxd083mp2rcr04d2dv0fkx729ajs62pq9pfjqqdql23jhxapdwa5hg6rywfshwttjda6hgegcqzpgxq92fjuqsp5m6q0fzynu2qr624mzjc285duurhccmkfg94mcdctc0p9s7qkrq8q9qy9qsqp862cjznpey5r76e7amhlpmhwn2c7xvke59srhv0xf75m4ksjm4hzn8y9xy0zs5ec6gxmsr8gj4q23w8ped32llscjcneyjz2afeapqpu4gamz"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds are removed from user account and added to user wallet.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "description": "Amount withdrawnd",
                      "type": "integer"
                    },
                    "paymentsecret": {
                      "description": "Payment secret of the settled invoice",
                      "type": "string"
                    },
                    "wid": {
                      "description": "Withdraw ID",
                      "type": "string"
                    },
                    "paymenthash": {
                      "description": "Payment hash for the settled invoice",
                      "type": "string"
                    }
                  },
                  "example": {
                    "amount": 1000,
                    "paymentsecret": "1b84c9852e929f99700b6cbabc4ca9d1593afc3736938b348c4d3d143e418bd4",
                    "wid": "3fcbd8b7-c35b-4e83-87bc-111d5bd186b7",
                    "paymenthash": "fb4d1e4ce4de84fe3a466bcf1d8543c0df56a9ac7a6c6f28bd9434a080a14c80"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/withdraw/lnurl": {
      "post": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "jwtAuth": [
              "withdraw"
            ]
          },
          {
            "cookieAuth": []
          }
        ],
        "deprecated": false,
        "summary": "Withdraw via LNURL",
        "description": "Create a LNURL Withdraw.\n",
        "operationId": "User_withdrawLnurl",
        "requestBody": {
          "description": "Amount the user wants to withdraw.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "description": "amount you want to withdraw",
                    "type": "integer",
                    "minimum": 1000
                  },
                  "unit": {
                    "description": "Unit (Only sat for now)",
                    "type": "string",
                    "enum": [
                      "sat",
                      "msat"
                    ],
                    "default": "sat"
                  }
                },
                "example": {
                  "amount": 1000
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LNURL Bech32 encoded string\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lnurl": {
                      "description": "LNURL for the users wallet",
                      "type": "string"
                    }
                  },
                  "example": {
                    "lnurl": "LNURL1DP68GURN8GHJ7UM9WFMXJCM99E3K7MF0V9CXJ0M385EKVCENXC6R2C35XVUKXEFCV5MKVV34X5EKZD3EV56NYD3HXQURZEPEXEJXXEPNXSCRVWFNV9NXZCN9XQ6XYEFHVGCXXCMYXYMNSERXFQ5FNS"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "User"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Logout",
        "description": "Delete the session cookie.\n",
        "operationId": "User_logout",
        "responses": {
          "200": {
            "description": "Sucessfully logged out.\n"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session"
      },
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}